<% content_for :title, "Editing segment" %>

<h1>Editing segment</h1>

<%= render "form", segment: @segment %>

<br>

<div>
  <%= link_to "Show this segment", @segment %> |
  <%= link_to "Back to segments", segments_path %>
</div>
