<div id="<%= dom_id asset %>">
  <p>
    <strong>Company:</strong>
    <%= asset.company_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= asset.name %>
  </p>

  <p>
    <strong>File url:</strong>
    <%= asset.file_url %>
  </p>

</div>
