<div id="<%= dom_id email_template %>">
  <p>
    <strong>Campaign:</strong>
    <%= email_template.campaign_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= email_template.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= email_template.content %>
  </p>

</div>
